In [40]:
from lxml import objectify
import pandas as pd

xml = objectify.parse(open('XMLData2.xml'))
root = xml.getroot()
df = pd.DataFrame(columns=('Number','String', 'Boolean'))
for i in range(0,4):
  print(i)
  obj = root.getchildren()[i].getchildren()
  row = dict(zip(['Number','String', 'Boolean'],
                  [obj[0].text, 
                   obj[1].text, 
                   obj[2].text]))
  row_s = pd.Series(row)
  row_s.name = i
  df.loc[i] = row_s
df
search = pd.DataFrame.duplicated(df)
df = df.drop_duplicates()
df

0
1
2
3

  Number  String Boolean
0      1   First    True
1      2  Second   False
2      3   Third    True